* { box-sizing: border-box; }
body {
  font-family: sans-serif;
  max-width: 9000px;
  margin: auto;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 528px;
}
h1 { margin: 0; margin-top: 8px; }
h1 { text-align: center; }
h3 { margin-left: 16px; margin-bottom: 0; margin-top: 0; }
a { -webkit-user-drag: none; }
#elements {
  padding: 0 0.5em;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 10px;
}
.elem {
  display: inline-flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  text-align: center;
  padding-top: 5px;
  border-radius: 15px;
  margin: 0.5em;
  position: relative;
  color: black;
}
.elem.ghost { opacity: 0.5; }
.elem:hover::after { /* the hover color */
  background: rgba(255,255,255,0.2);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  content: ' '
}
.elem:active::hover { /* the hover color */
  background: rgba(255,255,255,0.5);
}
.elem:active::after { /* the hover color */
  background: rgba(255,255,255,0.5);
}
.elem.held {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#status {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 500ms linear;
  white-space: nowrap;
}
#status.show {
  opacity: 1;
  transition: opacity 100ms linear;
}
#status.hide {
  opacity: 0;
  transition: opacity 0s linear;
}
@keyframes grow-in {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
@keyframes bounce {
  from { transform: scale(1); }
  50% { transform: scale(1.25); }
  to { transform: scale(1); }
}
@keyframes fade-out-and-height {
  from { opacity: 1; }
  30% { opacity: 0; height: 55px; }
  to { opacity: 0; height: 0px; }
}
.animate-in {
  animation: grow-in 600ms cubic-bezier(0.23, 1, 0.320, 1);
}
.animate-bounce {
  animation: bounce 600ms cubic-bezier(0.23, 1, 0.320, 1);
}
#helper {
  margin: 0;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  text-align: center;
}
.animate-helper-out {
  animation: fade-out-and-height 3.5s ease-in-out;
  animation-fill-mode: forwards;
}
#bottom {
  height: 2em;
  min-height: 2em;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
}
#bottom a {
  background: cornflowerblue;
  text-decoration: none;
  line-height: 2em;
  padding: 0 0.5em;
  color: black;
}
#bottom a:active {
  background: rgb(64, 106, 184)!important;
  color: white!important;
}
a#moreStuff {
  background: yellow;
  color: black;
}
a#moreStuff:active {
  background: orange!important;
  color: red!important;
}
.collapsed {
  height: 0;
  transition: flex-basis 100ms;
  overflow-y: hidden;
  flex: 0 0 0px;
}
.collapsed > div {
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
}
.buttonSelected {
  background: rgb(51, 86, 150)!important;
  color: white!important;
}

#loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#actualGame {
  display: contents;
}
#safeMode {
  display: contents;
}

#dialog_title {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

#dialog_content {
  background: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: calc(100vw - 20px);
  width: max-content;
  padding: 1em;
  user-select: text;
}

#dialog_buttons {
  margin-top: 20px;
}

button {
  background: rgb(236, 236, 236);
  border: 1px solid black;
}

textarea.elem-pack-field {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  resize: none;
  position: relative;
}
textarea.elem-pack-field:focus {
  border: 2px solid black;
  outline: none;
}

li button {
  margin-left: 8px;
}

#pack-add-btn {
  margin-top: 16px;
}

#dialog_buttons button:not(:first-child) {
  margin-left: 8px;
}

body.dark {
  color: white;
  background: black;
}
body.dark #bottom {
  color: black;
  background: white;
}
body.dark #status {
  background: rgba(255, 255, 255, 0.85);
  color: black;
}
body.dark button {
  background: rgb(87, 87, 87);
  border: 1px solid white;
  color: white;
}
button:disabled {
  opacity: 0.8;
}
body.dark #dialog {
  color: black;
}

#dialog_buttons button {
  background: rgb(236, 236, 236) !important;
  border: 1px solid black !important;
  color: black;
}

#elem-count {
  position: fixed;
  top: 16px;
  right: 32px;
  font-size: 24px;
  font-weight: bold;
}

#drop-info {
  display: none;
}
body.is-dropping-file #drop-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
#drop-info h2 {
  color: white;
}

#pack-div li {
  display: flex;
}
#pack-div li .name {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 8px;
}
#pack-div li .spacing {
  flex: 1 0 1px;
}
#pack-div li button {
  flex: 0 0;
  flex-basis: auto;
}

.color0 {
  border: 1px solid black;
  background: white;
}
body.dark .color0 {
  background: black;
  border: 1px solid white;
  color: white;
}

body.dark #info-pane {
  background: #303030;
}

#info-pane {
  background: white;
  position: fixed;
  width: 460px;
  height: 200px;
  border: 2px solid black;
  border-radius: 14px;
  display: none;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
#info-info {
  flex: 1;
  padding-top: 8px;
  overflow-y: auto;
  height: 100%;
  padding-right: 8px;
  padding-left: 8px;
}

img.header {
  height: 50px;
  width: calc((1278 / 175) * 50px);
  margin: auto;
  margin-top: 20px;
  pointer-events: none;
}
body.dark img.header {
  filter: invert(1);
}
.version {
  position: fixed;
  top: 5px;
  left: 5px;
}

.hide-pack-ids .packidx {display:none}
